woodprojectreserve/WEB-INF/config/ApplicationProperties.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="applicationproperties" type="applicationpropertiesType"/>
  <xs:complexType name="serverType">
    <xs:sequence>
      <xs:element type="xs:string" name="key"/>
      <xs:element type="xs:string" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servermappingType">
    <xs:sequence>
      <xs:element type="serverType" name="server" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="databaseType">
    <xs:sequence>
      <xs:element type="xs:string" name="key"/>
      <xs:element type="xs:string" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="databasemappingType">
    <xs:sequence>
      <xs:element type="databaseType" name="database" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceType">
    <xs:sequence>
      <xs:element type="xs:string" name="key"/>
      <xs:element type="xs:string" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servicemappingType">
    <xs:sequence>
      <xs:element type="serviceType" name="service" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlstatementType">
    <xs:sequence>
      <xs:element type="xs:string" name="key"/>
      <xs:element type="xs:string" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlstatementmappingType">
    <xs:sequence>
      <xs:element type="sqlstatementType" name="sqlstatement" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hqlstatementType">
    <xs:sequence>
      <xs:element type="xs:string" name="key"/>
      <xs:element type="xs:string" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hqlstatementmappingType">
    <xs:sequence>
      <xs:element type="hqlstatementType" name="hqlstatement" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="applicationpropertiesType">
    <xs:sequence>
      <xs:element type="servermappingType" name="servermapping"/>
      <xs:element type="databasemappingType" name="databasemapping"/>
      <xs:element type="servicemappingType" name="servicemapping"/>
      <xs:element type="sqlstatementmappingType" name="sqlstatementmapping"/>
      <xs:element type="hqlstatementmappingType" name="hqlstatementmapping"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>