woodprojectreserve/config/ApplicationProperties.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="key" type="xs:string"/>
  <xs:element name="value" type="xs:string"/>
  <xs:element name="service">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="key"/>
        <xs:element ref="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sqlstatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="key"/>
        <xs:element ref="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="servicemapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="service" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sqlstatementmapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sqlstatement" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="applicationproperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="servicemapping"/>
        <xs:element ref="sqlstatementmapping"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

